@media (min-width: 700px) {
  .layOut {
    width: 600px;
  }
}
@media (min-width: 900px) {
  .layOut {
    width: 800px;
  }
}
@media (min-width: 1000px) {
  .layOut {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .layOut {
    width: 1100px;
  }
}